@import '../vars';

:host {

	.actions {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;

		md-button {
			height: 38px;
    		margin-top: 10px;
		}
	}

	.list-recipes {
		display: flex;
		flex-wrap: wrap;

		md-card {
			width: 250px;
			border-radius: 4px;
			margin: 10px;
			background-color: #E3F2FD;

			img { height: 100px; }

			a {
				color: $link-color;
				text-decoration: none;
			}

			ul {
				list-style: none;
				padding-left: 10px;
			}
		}
	}

}