@import './vars';

md-sidenav-layout {
	position: realtive;
	height: 100%;
}

md-sidenav {
	width: 200px;

	md-toolbar {
		background-color: $product-bgcolor;
	}
}

header {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);

	md-toolbar {
		background-color: $main-color;
		color: white;
	}
}

main {
	padding: 20px;
	overflow: hidden;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}